.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F4eeee;
   
}
/* header  */
header{
    width: 100%;
    padding: 45px 80px 58px 80px;
    background-color: #ffffff;
    border-radius: 0px 0px 50px 50px;
    position: fixed;
    z-index: 1;
    max-width: inherit;
    width: inherit;
    transform: translateX(50%)
    
}
.fa-bars{
    color: #125806;
    /* width: 60px;
    height: 46.75px; */
}

