.conteiner{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F4eeee;
   
}
/* header  */
header{
    max-width: inherit;
    width: inherit;
    /* width: 100%; */
    border-radius: 0px 0px 50px 50px;
    padding: 45px 80px 58px 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    /* transform: translateX(50%)
     */
}
.fa-bars{
    color: #125806;
    /* width: 60px;
    height: 46.75px; */
}

/* section  */

.section1{

}



